*{
    scroll-behavior: smooth !important;
}


/*
navbar INDEX
*/
.navbar{
    background-color: rgb(238, 228, 96) !important;
}

/*PORTADA*/
.portada{
    height: 100vh;
    display: block;
}



.fondoAmarillo{
    background-color: rgb(238, 228, 96);
}

.fondoNegro{
    background-color: rgb(51, 49, 49);
}

.colorBlanco{
    color: white;
}

.imagenPortada{
    width: 50%;
    /* Agrego una animacion personalizada usando KeyFrame*/
    animation-name: saltar;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

}

article{
    text-align: justify!important;
}

footer h6{
    margin: none;
    padding: 5px;
}

#comoHacemos{
    color: white;
    /*Con el linear gradient oscurezco la imagen de fondo*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),  url("../assets/pexels-anna-guerrero-1765005.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

/*************************/

@media (max-width: 576px) { 
    article img{
        width: 70%;
    }

    .noResponsive{
        display: none;
    }

    .portada .fondoAmarillo{
        height: 100vh;
        background-color: rgb(238, 228, 96);
    }

    .imagenPortada{
        margin-bottom: 50px;
        width: 75%;
        position: relative!important;
        top: 10px;
    }

}
   

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 


    .noResponsive{
        display: none;
    }

    .portada .fondoAmarillo{
        height: 100vh;
        background-color: rgb(238, 228, 96);
    }

    .imagenPortada{
        width: 55%;
        margin-bottom: 45px;
        position: relative!important;
        top: 40px;
    }

    article img{
        width: 70%;
    }

    .imgResponsive{
        width: 50%;
    }
    

 }

/* Tablets en horizonal y escritorios normales */
@media (min-width: 768px) {
    /* Clase para ocultar cuando estoy responsivo*/
    .noResponsive{
         display: none;
     }


     .imgResponsive{
        width: unset;
    }
    

    article img{
        width: 70%;
    }

    /*Portada*/
    .fondoAmarillo img{
        width: 100%;
    }
    
    
    .imagenPortada{
        width: 100%;
        position: relative!important;
        top: 200px;
    }

    .portada .fondoAmarillo{
        height: 80vh;
        background-color: rgb(238, 228, 96);
    }


}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .noResponsive{
        display: unset;
    }

    .portada .fondoAmarillo{
        height: 70vh;
        background-color: rgb(238, 228, 96);
    }

    .imagenPortada{
        position: relative!important;
        top: 40px;
    }

    .fondoAmarillo img{
        width: 100%;
    }
    
    article img{
        width: 70%;
    }

 }
 
 /* X-Large devices (large desktops, 1200px and up) */
 @media (min-width: 1200px) {
    .portada .fondoAmarillo{
        height: 80vh;
        background-color: rgb(238, 228, 96);
    }

    .imagenPortada{
        position: relative!important;
        top: 40px;
    }

    .fondoAmarillo img{
        width: 95%;
    }

  }
 
 /*// XX-Large devices (larger desktops, 1400px and up) */
 @media (min-width: 1400px) { 
    .portada .fondoAmarillo{
        height: 80vh;
        background-color: rgb(238, 228, 96);
    }

    .imagenPortada{
        position: relative!important;
        top: 40px;
        
    }
  }



/*******************************************************/

/* Botones  */
/*Contenedor de botones en el index*/
.containButton{
    margin-top: 10px;
}


.botonAzul {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #3a86ff;
    box-shadow: 0 5px #4433ff;
  }
  .botonAzul:hover {
    box-shadow: 0 3px #4433ff;
    top: 1px;
  }
  .botonAzul:active {
    box-shadow: 0 0 #4433ff;
    top: 5px;
  }




 /*****************************************************/
  /* EFECTOS */

  /*Clase para girar imágenes */
  .giroImagen {
    transition: transform .7s ease-in-out;
  }
  .giroImagen:hover {
    transform: rotate(360deg);
  }

    /*Clase para dar efecto de tamaño aumentado*/
    .escaloElemento:hover {
      -webkit-transform:scale(1.3);
      transform:scale(1.3);
    }
    .escaloElemento {
      overflow:hidden;
    }

    .saltaElemento
    {
        
        animation-name: saltar;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }

     /*Clase para dar efecto de tamaño disminuido*/
    .disminuyoElemento:hover {
        -webkit-transform:scale(1.3);
        transform:scale(0.8);
    }
    .disminuyoElemento {
        overflow:hidden;
    }

    .deslizarContenido{
        animation-duration: 1.5s;
        animation-name: deslizar;
    }

    .deslizarDerecha{
        animation-name: entrada-derecha;
        animation-duration: 1.5s;
    }

    .deslizarIzquierda{
        animation-name: entrada-izquierda;
        animation-duration: 1.5s;
    }

  @keyframes saltar{
    0%{
      opacity: 0;
      transform: scale(0.3) translate3d(0,0,0);
    }
    50%{
      opacity: 0.9;
      transform: scale(1.1);
    }
    80%{
      opacity: 1;
      transform: scale(0.89);
    }
    100%{
      opacity: 1;
      transform: scale(1) translate3d(0,0,0);
    }
  }
  
  @keyframes deslizar {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  @keyframes entrada-izquierda {
    0% {
        transform: translateX(-100%);
        }
        100% {
            transform: translateX(0);
        }
    }
        
    @keyframes entrada-derecha {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(0);
        }
    }
