@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Poppins:wght@300&display=swap");
body {
  font-family: poppins, sans-serif;
  margin: 0px; }

* {
  scroll-behavior: smooth !important; }

.navbar {
  background-color: #eee460 !important; }
  .navbar .navbar-nav {
    text-align: center; }

/* Agrego una magia para que el menú no pise el subtitulo de la página */
.perspectiva {
  padding-top: 50px;
  margin-top: -50px; }

/*PORTADA Index.html*/
.portada {
  height: 100vh;
  display: block; }
  .portada .fondoAmarillo {
    background-color: #eee460; }
  .portada .imagenPortada {
    width: 50%;
    /* Agrego una animacion personalizada usando KeyFrame*/
    animation-name: saltar;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards; }

#comoHacemos {
  color: white;
  /*Con el linear gradient oscurezco la imagen de fondo*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/pexels-anna-guerrero-1765005.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

article {
  text-align: justify !important; }

.fondoNegro {
  background-color: #333131; }

.colorBlanco {
  color: white; }

.alto50 {
  height: 50px; }

.paddingLeft20 {
  padding-left: 20px; }

footer h6 {
  margin: none;
  padding: 5px; }

/* Botones  */
/*Contenedor de botones en el index*/
.containButton {
  margin-top: 10px; }
  .containButton .botonAzul {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #3a86ff;
    box-shadow: 0 5px #4433ff; }
  .containButton .botonAzul:hover {
    box-shadow: 0 3px #4433ff;
    top: 1px; }
  .containButton .botonAzul:active {
    box-shadow: 0 0 #4433ff;
    top: 5px; }

/*****************************************************/
/* EFECTOS */
/*Clase para girar imágenes */
.giroImagen {
  transition: transform .7s ease-in-out; }
  .giroImagen:hover {
    transform: rotate(360deg); }

.escaloElemento {
  overflow: hidden; }
  .escaloElemento:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }

.saltaElemento {
  animation-name: saltar;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards; }

.disminuyoElemento {
  overflow: hidden; }
  .disminuyoElemento:hover {
    -webkit-transform: scale(1.3);
    transform: scale(0.8); }

.deslizarContenido {
  animation-duration: 1.5s;
  animation-name: deslizar; }

.deslizarDerecha {
  animation-name: entrada-derecha;
  animation-duration: 1.5s; }

.deslizarIzquierda {
  animation-name: entrada-izquierda;
  animation-duration: 1.5s; }

@keyframes saltar {
  0% {
    opacity: 0;
    transform: scale(0.3) translate3d(0, 0, 0); }
  50% {
    opacity: 0.9;
    transform: scale(1.1); }
  80% {
    opacity: 1;
    transform: scale(0.89); }
  100% {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0); } }

@keyframes deslizar {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

@keyframes entrada-izquierda {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0); } }

@keyframes entrada-derecha {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0); } }

input {
  transition: all .2s ease-in-out; }
  input:hover {
    border-color: #4433ff; }
  input:focus {
    transform: scale(1.1);
    border-color: #4433ff; }

textarea {
  transition: all .2s ease-in-out; }
  textarea:hover {
    border-color: #3a86ff; }
  textarea:focus {
    transform: scale(1.1);
    border-color: #3a86ff; }

@media (max-width: 576px) {
  .noResponsive {
    display: none; }
  article img {
    width: 70%; }
  .portada .fondoAmarillo {
    height: 100vh;
    background-color: #eee460; }
  .portada .imagenPortada {
    margin-bottom: 50px;
    width: 45%;
    position: relative !important;
    top: 10px; }
  .portada .fondoAmarillo:nth-child(1) {
    text-align: center; }
  .margenTop30 {
    margin-top: 30px; }
  /*ABOUT*/
  .about p {
    text-align: justify;
    margin: none !important; }
  .about h3 {
    text-align: center; }
  .about img {
    text-align: center; }
  .about div {
    text-align: center; }
  .about .row {
    text-align: center; }
  .tamañoVideo {
    width: 360px;
    height: 215px; }
  .imgContacto {
    width: 30%; }
  form {
    width: 100%; }
    form input {
      width: 100%; }
    form textarea {
      width: 100%; } }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .noResponsive {
    display: none; }
  .portada .fondoAmarillo {
    height: 100vh;
    background-color: #eee460; }
  .portada .imagenPortada {
    width: 55%;
    margin-bottom: 45px;
    position: relative !important;
    top: 40px; }
  .margenTop30 {
    margin-top: 30px; }
  article img {
    width: 70%; }
  .imgResponsive {
    width: 50%; }
  .imgContacto {
    width: 40%; }
  /*ABOUT*/
  .about p {
    text-align: justify;
    margin: none !important; }
  .about h3 {
    text-align: center; }
  .about img {
    text-align: center; }
  .about div {
    text-align: center; }
  .about .row {
    text-align: center; }
  form {
    width: 100%; }
    form input {
      width: 100%; }
    form textarea {
      width: 100%; } }

@media (max-width: 768px) and (max-height: 480px) {
  .imagenPortada {
    margin-bottom: 50px;
    width: 20%;
    position: relative !important;
    top: 10px; } }

/* Tablets en horizonal y escritorios normales */
@media (min-width: 768px) {
  /* Clase para ocultar cuando estoy responsivo*/
  .noResponsive {
    display: none; }
  .imgResponsive {
    width: unset; }
  article img {
    width: 70%; }
  .portada .fondoAmarillo img {
    width: 100%; }
  .portada .imagenPortada {
    width: 100%;
    position: relative !important;
    top: 20px;
    /* Este cambio lo agrego por último porque la imagen queda demasiado grande*/ }
  .portada .fondoAmarillo {
    height: 70vh;
    background-color: #eee460; }
  /*ABOUT*/
  .about p {
    text-align: unset;
    margin: none; }
  .about h3 {
    text-align: unset; }
  .about img {
    text-align: center; }
  .about div {
    text-align: unset; }
  .about .row {
    text-align: unset; }
  .tamañoVideo {
    width: 560px;
    height: 315px; }
  .imgContacto {
    width: 40%; }
  form {
    width: 100%; }
    form input {
      width: 100%; }
    form textarea {
      width: 100%; } }

@media screen and (max-device-width: 768px) and (orientation: landscape) {
  .col4Landscape {
    width: 25% !important; } }

@media screen and (min-device-width: 768px) and (max-device-width: 1824px) and (orientation: landscape) {
  .imagenPortada {
    width: 50%;
    margin-top: 0;
    padding: 0;
    position: relative;
    top: 50px; }
  .portada .fondoAmarillo {
    height: 100vh;
    background-color: #eee460; }
  .col4Landscape {
    width: 25%; }
  .landscapeMarginTop20 {
    margin-top: 50px; } }

@media screen and (min-device-width: 992px) and (max-device-width: 1824px) and (orientation: landscape) {
  .landscapeMarginTop20 {
    margin-top: 100px; } }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .noResponsive {
    display: unset; }
  .soloResponsive {
    display: none; }
  .portada .fondoAmarillo {
    height: 70vh;
    background-color: #eee460; }
  .portada .imagenPortada {
    position: relative !important;
    top: 80px; }
  .portada .fondoAmarillo img {
    width: 100%; }
  .img60 {
    width: 60%; }
  article img {
    width: 70%; }
  .imgContacto {
    width: 40%; }
  form {
    width: 80%; }
    form input {
      width: 80%; }
    form textarea {
      width: 80%; } }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .portada .fondoAmarillo {
    height: 75vh;
    background-color: #eee460; }
  .portada .imagenPortada {
    position: relative !important;
    top: 40px; }
  .portada .fondoAmarillo img {
    width: 95%; }
  .img60 {
    width: unset; }
  .imgContacto {
    width: 60%; } }

/*// XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .portada .fondoAmarillo {
    height: 80vh;
    background-color: #eee460; }
  .portada .imagenPortada {
    position: relative !important;
    top: 40px; }
  .imgContacto {
    width: 30%; } }
